<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.intel.googleplaygamesplugin"
    version="1.0.6">

    <name>GooglePlayGamesPlugin</name>

    <description>Google Play Games Plugin</description>

    <author>Ian Maffett</author>

    <keywords>GooglePlayGamesPlugin</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <license>MIT</license>


    <preference name="GPSAPPID" />


     <js-module src="www/GooglePlayGamesCore.js" name="GooglePlayGamesPluginCore">
            <clobbers target="window.GooglePlayGamesPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <js-module src="www/AndroidGooglePlayGamesPlugin.js" name="GooglePlayGamesPlugin">
            <merges target="window.GooglePlayGamesPlugin" />
        </js-module>

        <!-- android-support-v4.jar include-->
        <dependency id="android.support.v4" url="https://github.com/MobileChromeApps/cordova-plugin-android-support-v4"  />

        <!-- google-play-services.jar include version 5089000 -->
        <dependency id="com.google.playservices" url="https://github.com/MobileChromeApps/google-play-services" commit="1f56399572d255193f8f9564843df60e50938e69" />


        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GooglePlayGamesPlugin" >
                <param name="android-package" value="com.intel.GooglePlayGamesPlugin"/>
            </feature>
        </config-file>

        <config-file target="res/values/strings.xml" parent="/*">
             <string name="google_play_services_app_id">$GPSAPPID</string>
        </config-file>

        <source-file src="src/android/gamehelper_strings.xml" target-dir="res/values" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
            <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
            <activity android:name="com.intel.GooglePlayGamesService">
        </activity>
            <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/google_play_services_app_id" />
        </config-file>


        <source-file src="src/android/GooglePlayGamesService.java"
            target-dir="src/com/intel"/>
        <source-file src="src/android/GooglePlayGamesPlugin.java"
            target-dir="src/com/intel"/>
        <source-file src="src/android/com/google/example/games/basegameutils/BaseGameActivity.java"
            target-dir="src/com/google/example/games/basegameutils"/>
        <source-file src="src/android/com/google/example/games/basegameutils/GameHelper.java"
            target-dir="src/com/google/example/games/basegameutils"/>
            <source-file src="src/android/com/google/example/games/basegameutils/GameHelperUtils.java"
            target-dir="src/com/google/example/games/basegameutils"/>
    </platform>


    <platform name="ios">
        <dependency id="cordova-plugin-gamecenter" url="https://github.com/Wizcorp/cordova-plugin-gameCenter" />
         <js-module src="www/iOSGooglePlayGamesPlugin.js" name="GooglePlayGamesPlugin">
            <merges target="window.GooglePlayGamesPlugin" />
        </js-module>
    </platform>
</plugin>
